<servers>
  <server>
    <id>github</id>
    <username>velu-devaraj</username>
	<password>${env.GITHUB_TOKEN}</password>
  </server>
</servers>

<repositories>
  <repository>
    <id>central</id>
    <url>https://repo1.maven.org/maven2</url>
    <snapshots>
      <enabled>false</enabled>
    </snapshots>
  </repository>
  <repository>
    <id>github</id>
    <url>https://maven.pkg.github.com/velu-devaraj</url>
    <snapshots>
      <enabled>true</enabled>
    </snapshots>
  </repository>
</repositories>
